body {
    background-image: url("../img/DSC00388.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

body#theremin {
    background: url("../img/Image_5751.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body#contact {
    background: url("../img/DSC00595.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body#embedded {
    background: url("../img/LI1_A1t_1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background: transparent;
}

/* ul {
    list-style-position: inside;
    text-align: center;
} */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card-img-top {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: auto;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    width: 100%;
    /* padding-bottom: 75%; Adjust this value to match the aspect ratio of your images */
    overflow: hidden;
}

/* .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
} */

.card-footer {
    background: transparent;
    border: none;
    padding: 6px;
}

.card-title {
    font-size: 15px;
    margin: 0;
}

.modal-content {
    background-color: #091e34;
}

.logo {
    float: left;
    height: 50px;
}

.logo-text {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    text-justify: inter-word;
    font-size: 36px;
    padding-left: 10px;
    font-weight: bold;
    text-shadow: -1px -1px 0 whitesmoke,  
                 1px -1px 0 whitesmoke ,
                 -1px 1px 0 whitesmoke,
                 1px 1px 0 whitesmoke;
}

.hide-on-small {
    display: none;
}

/* .logo {
    display: block;
    min-height: 30px;
    max-height: 50px;
    width: auto;
} */

@media screen and (min-width: 768px) {
    .hide-on-small {
        display: block;
    }
}

nav ul li a {
    color: white; /* Change this to the color you want for the text */
    background-color: rgba(167, 186, 205, 0.6); /* Semi-transparent grey */
    padding: 10px 20px; /* This adds some space around the text */
    text-decoration: none; /* This removes the underline from the links */
}

/* Change the color when the mouse hovers over a tab */
nav ul li a:hover {
    background-color: rgba(167, 186, 205, 0.8); /* Slightly less transparent grey when hovering */
}

.navbar-nav .nav-item .nav-link {
    margin: 0px 2px; /* Adjust as needed */
}

@media (max-width: 920px) { /* Adjust as needed */
    .navbar-nav {
        justify-content: flex-end;
    }

    .navbar-nav .nav-item .nav-link {
        max-width: 200px; /* Adjust as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.navbar-nav .nav-item:first-child .nav-link {
    border-top-left-radius: 10px;
    /* border-bottom-left-radius: 10px; */
}

.navbar-nav .nav-item:last-child .nav-link {
    /* border-top-right-radius: 10px; */
    border-bottom-right-radius: 10px;
}

.navbar-toggler {
    background-color: #a7bacd; /* Change this to the color you want */
}

.nav-item.active .nav-link {
    color: rgb(33, 218, 97) !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #2f26d2; /* Change this to the color you want when hovering */
}

.dropdown-menu .dropdown-item:hover {
    color: #c03939; /* Change this to the color you want when hovering */
}
/* .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
} */
.dropdown-menu {
    background-color: transparent;
    border: none;
    margin-top: 0; /* Aligns the submenu vertically with the menu */
}

.dropdown-menu .dropdown-item {
    color: #fff; /* Makes the submenu text white */
    background-color: rgb(42, 72, 36);
    padding: 15px 150px;
}

/* .dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
} */

.social-icon {
    max-width: 80px;  /* Adjust as needed */
    max-height: 80px; /* Adjust as needed */
    padding-bottom: 20px;
    padding-right: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative; /* Change from absolute to relative */
    z-index: 1;
}

.map {
    position: relative;
    top: 10px; /* Adjust as needed */
    right: 90px;
    max-width: 160px;  /* Adjust as needed */
    max-height: 160px;
}

#image1 {
    position: left-center;
    max-width: 50vw;
}

#navbarNavDropdown {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(202, 82, 82);
    text-align: center;
    text-justify: inter-word;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}

#text2 {
    /* font-family: 'Courier New', Courier, monospace; */
    color: white;
    text-align: center;
    text-justify: inter-word;
    font-size: 30px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}

#text3 {
    /* font-family: Lucida Calligraphy; */
    color: white;
    text-align: center;
    text-justify: inter-word;
    font-size: 20px;
    /* text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000; */
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000;
}
#text4_contact_name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    text-justify: inter-word;
    font-size: 30px;
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}
#text5_contact_phone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    text-justify: inter-word;
    font-size: 20px;
}
.bio-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    text-justify: inter-word;
    font-size: 15px;
}
#bio-title {
    /* font-family: Lucida Calligraphy; */
    color: white;
    text-align: center;
    text-justify: inter-word;
    font-size: 22px;
}

/* @media (min-width: 900px) {
    .card {
        max-width: 200px;
    }
} */


#player {
    position: relative;
    width: 300px;
    height: 200px;
}
#volume-control {
    position: absolute;
    bottom: 0;
    right: 0;
}
