{% extends "index.html" %}

<!-- {% block title %}
Home
{% endblock %} -->

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <!-- <div class="col-md-6 hide-on-small">
            <img id="image1" src="../static/img/Corners-with-circles333.gif" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-12">
            <p id="text2">Personal webpage of F.&nbsp;Giustiniano</p>
            <p id="text3">A website made using Flask and Jinja2</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <ul>
                <li>Devices</li>
                <li>Audio</li>
                <li>A (mouse) Theremin with fx</li>
                <li>Background</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}