{% extends "index.html" %}

<!-- {% block title %}
Home
{% endblock %} -->

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <!-- <div class="col-md-6 hide-on-small">
            <img id="image1" src="../static/img/Corners-with-circles333.gif" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-12">
            <p id="text2">Personal webpage of F.&nbsp;Giustiniano</p>
            <p id="text3">Purpose of the page to showcase some of my past work and interests.</p>
            <p id="text3">Stopped physical work around 2022 to reduce damage from a connective tissue disorder. (HSD/hEDS)</p>
            <p id="text3"> Looking for remote coding work, main interests: Python, C++; LabVIEW, Arduinos.</p>
            <p id="text3">I can also offer advise on:</p>
            <p id="text3"> - Chemical synthesis of materials such as Transition Metal Dichalcogenides and Fullerides;</p>
            <p id="text3"> - High pressure systems for CO<sub>2</sub> handling and properties measurement up to 150 Bar.</p>
        <div class="col-md-4"></div>
        <div id="index" class="col-md-4">
            <p id="text2">Pages summary:</p>
            <ul id="summary">
                <li>Hardware: engineering and embedded coding work</li>
                <li>Materials: chemical synthesis of high purity materials for physics research</li>
                <li>Audio: (coming soon) Audio and music production work</li>
                <li>Theremin: a web instrument and FXs based on the WebAudio API</li>
                <li>Background: career and interests</li>
                <li>Contact: my email</li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <p id="made-with">A website made with <br> Flask and Jinja     </p>
    <a id="counter-page" href="https://info.flagcounter.com/poS1"><img src="https://s01.flagcounter.com/mini/poS1/bg_E3E3E3/txt_000000/border_237539/flags_0/" alt="Flag Counter" border="0"></a>
    <a id="counter-site" href="https://info.flagcounter.com/poS1"><img src="https://s01.flagcounter.com/mini/poS1/bg_E3E3E3/txt_000000/border_237539/flags_0/" alt="Flag Counter" border="0"></a>
</footer>
{% endblock %}